.navbar{
    text-align: center;
    width: 90%;
    position: relative;
    left: 50px;
    background-color: rgba(167, 215, 255, 0.555);
}

.navbar-brand{
    padding-left: 20px;
}

.nav-item:hover{
    background-color: rgba(167, 215, 255, 0.884);
}