<div class="home">
  <div class="header">
    <img class="logo" src="/assets/Logo sin fondo.png" />
    <app-navbar class="menu"></app-navbar>
  </div>
  <div class="content">
    <app-carousel></app-carousel>
    <!--     <br /> -->
    <div class="textos">
      <h1 class="display-4">Bienvenido</h1>
      <p>
        Tenemos el gusto de ofrecerte productos para la limpieza como: Jabón
        lavadora, Suavizante, Jabón loza, Jabón de manos, Limpia pisos,
        Desengrasante, Hipoclorito y demás productos de muy buena calidad,
        precio y además puedes elegir los aromas que deseas, entre estos te
        sugerimos algunos: Frutos rojos, limón, coco-limón, canela, maracuyá,
        talco bebe, entre otros.
      </p>
    </div>
    <div class="contactos">
      <h5 class="tContactos">
        Contactate con nosotros con gusto te ofreceremos mayor información:
      </h5>
      <div class="redesSociales">
        <a href="https://www.facebook.com/Clean-House-SB-110930328385622"
          ><i class="fa-brands fa-facebook fa-2x"></i
        ></a>
        <a
          href="https://wa.me/573007202615?text=Hola,%20quiero%20saber%20más%20sobre%20los%20productos"
          ><i class="fa-brands fa-whatsapp fa-2x"></i
        ></a>
        <a
          href="mailto:CleanHouseSB@gmail.com?Subject=Interesado%20en%20los%20productos"
          ><i class="fa-solid fa-envelope fa-2x"></i
        ></a>
      </div>
    </div>
  </div>
</div>
